# Python
__pycache__/
*.pyc
.egg-info/

# Environment
.env
venv/

# Data/model artifacts
*.pt
*.ckpt
data/
logs/
mlruns/
nbs/

# MLflow
mlruns/

# IDE
.vscode/
.idea/

# OS
.DS_Store

__pycache__/
*.pyc